@charset "utf-8";
/* 重置掉一些默认的样式 */
i, em {
  font-style: normal;
}
a {
  color: #333;
}
/* lvha  看到 lv包, 哈哈 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a:hover {
  /* 微金所红 */
  color: #e92322;
}


/* 头部 */
.wjs_header {
  border-bottom: 1px solid #ccc;
}
.wjs_header .item {
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.wjs_header .item:last-child {
  border-right: none;
}
.wjs_header .mobile {
  position: relative;
  display: block;
}
.wjs_header .mobile:hover .code {
  display: block;
}
.wjs_header .mobile .code {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  display: none;
  z-index: 999;
}
.wjs_header .btn {
  padding: 2px 12px;
}
.wjs_header .btn_login {
  text-decoration: none;
  color: #333;
}
.wjs_header .btn_login:hover {
  color: #e92322;
}


/* 导航 */
.wjs_nav {
  border-bottom: 1px solid #ccc;
}
.wjs_nav .navbar {
  margin: 0;
  border: none;
  background-color: transparent;
}
.wjs_nav .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-default .navbar-nav > .active > a,
.wjs_nav .navbar-default .navbar-nav > .active > a:hover,
.wjs_nav .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
}

.wjs_nav .navbar-collapse .active a {
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-collapse  a:hover {
  border-bottom: 3px solid #e92322;
}

.wjs_nav .wjs_icon_logo {
  font-size: 50px;
  vertical-align: middle;
  color: #e92322;
}
.wjs_nav .wjs_icon_word {
  font-size: 36px;
  vertical-align: middle;
  color: #000;
}

.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-toggle {
  margin-top: 23px;
}




/* wjs_banner */
/* 这里的样式只在 >= 640 的屏幕中需要生效 */
@media screen and ( min-width: 640px ) {
  .wjs_banner .carousel .item {
    height: 410px;
    overflow: hidden;
  }
  .wjs_banner .carousel .item img {
    height: 410px;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
