@charset "utf-8";
/* 重置掉一些默认的样式 */
i, em {
  font-style: normal;
}
a {
  color: #333;
}
/* lvha  看到 lv包, 哈哈 */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
a:hover {
  /* 微金所红 */
  color: #e92322;
}

html, body {
  height: 2000px;
}


/* 头部 */
.wjs_header {
  border-bottom: 1px solid #ccc;
}
.wjs_header .item {
  height: 40px;
  line-height: 40px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.wjs_header .item:last-child {
  border-right: none;
}
.wjs_header .mobile {
  position: relative;
  display: block;
}
.wjs_header .mobile:hover .code {
  display: block;
}
.wjs_header .mobile .code {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  display: none;
  z-index: 999;
}
.wjs_header .btn {
  padding: 2px 12px;
}
.wjs_header .btn_login {
  text-decoration: none;
  color: #333;
}
.wjs_header .btn_login:hover {
  color: #e92322;
}


/* 导航 */
.navbar-default {
  height: 80px;
  position: relative;
  z-index: 666;
}
.navbar-collapse{
  background-color: #fff;
}

.wjs_nav {
  border-bottom: 1px solid #ccc;
}
.wjs_nav .navbar {
  margin: 0;
  border: none;
  background-color: transparent;
}
.wjs_nav .navbar-nav > li > a {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-default .navbar-nav > .active > a,
.wjs_nav .navbar-default .navbar-nav > .active > a:hover,
.wjs_nav .navbar-default .navbar-nav > .active > a:focus {
  background: transparent;
}

.wjs_nav .navbar-collapse .active a {
  border-bottom: 3px solid #e92322;
}
.wjs_nav .navbar-collapse  a:hover {
  border-bottom: 3px solid #e92322;
}

.wjs_nav .wjs_icon_logo {
  font-size: 50px;
  vertical-align: middle;
  color: #e92322;
}
.wjs_nav .wjs_icon_word {
  font-size: 36px;
  vertical-align: middle;
  color: #000;
}

.wjs_nav .navbar-brand {
  height: 80px;
  line-height: 50px;
}

.wjs_nav .navbar-toggle {
  margin-top: 23px;
}




/* wjs_banner */
/* 这里的样式只在 >= 640 的屏幕中需要生效 */
@media screen and ( min-width: 640px ) {
  .wjs_banner .carousel .item {
    height: 410px;
    overflow: hidden;
  }
  .wjs_banner .carousel .item img {
    height: 410px;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}





/* 信息区块 */
.wjs_info {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_info .wjs_icon {
  font-size: 30px;
}
.wjs_info .media-body p {
  margin-top: 10px;
}
.wjs_info .media {
  display: block;
  padding: 10px 0;
}


/* 预约区块 */
.wjs_book {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_book .wjs_icon {
  font-size: 20px;
}
.wjs_book .book_now {
  color: #e92322;
  border-bottom: 1px dashed #e92322;
}



/* 产品模块 */
.wjs_product {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
  background-color: #F5F5F5;
}

.wjs_product .nav-tabs > li.active > a,
.wjs_product .nav-tabs > li.active > a:hover,
.wjs_product .nav-tabs > li.active > a:focus {
  /* 去除原有的边框样式 */
  border: none;
  background: transparent;
  /* 添加自定义的边框样式 */
  border-bottom: 3px solid #e92322;
}

.wjs_product .nav-tabs > li > a {
  border: none;
}

.wjs_product .nav > li > a:hover,
.wjs_product .nav > li > a:focus {
  background: transparent;
}


.wjs_product .tab_wrapper {
  width: 100%;
  overflow: hidden;
}
.wjs_product .tab_wrapper ul {
  width: 2000px;
}

.wjs_product .product_item {
  height: 150px;
  background-color: pink;
  margin-top: 20px;
  position: relative;
}
.wjs_product .product_item.current {
  background-color: #e92322;
  color: #fff;
}

.wjs_product .product_item_right {
  float: right;
  height: 150px;
  width: 80px;
  position: relative;
  text-align: center;
  border-left: 1px dashed blue;
}
.wjs_product .product_item_right:before,
.wjs_product .product_item_right:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #F5F5F5;
  position: absolute;
  left: -10px;
  border-radius: 50%;
}
.wjs_product .product_item_right:before {
  top: -10px;
}
.wjs_product .product_item_right:after {
  bottom: -10px;
}

.wjs_product .product_item_right .percent {
  margin-top: 30px;
}
.wjs_product .product_item_right .percent b {
  font-size: 30px;
}
.wjs_product .product_item_right .rate {
  font-size: 16px;
}


.wjs_product .product_item_left {
  height: 150px;
  overflow: hidden;
}
.wjs_product .product_item_left h3 {
  font-size: 18px;
}
.wjs_product .product_item_left p {
  margin-bottom: 5px;
}
.wjs_product .product_item .wjs_icon_experience {
  position: absolute;
  left: 0;
  top: -8px;
  font-size: 40px;
}



/* 新闻区块 */
.wjs_news {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.wjs_news .news_title {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid #e92322;
  position: relative;
}
.wjs_news .news_title:before {
  content: "";
  position: absolute;
  right: -6px;
  bottom: -3px;
  width: 6px;
  height: 6px;
  border: 1px solid #e92322;
  border-radius: 50%;
}
.wjs_news .news_tab {
  position: relative;
}
.wjs_news .news_tab ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wjs_news .news_tab li a {
  width: 60px;
  height: 60px;
  display: block;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  margin-bottom: 60px;
  position: relative;
  z-index: 666;
  font-size: 30px;
}
.wjs_news .news_tab li:last-child a {
  margin-bottom: 0;
}
.wjs_news .news_tab li.active a {
  background-color: #e92322;
}
.wjs_news .news_tab .line {
  height: 100%;
  border-right: 1px dashed #e92322;
  position: absolute;
  left: 44px;
  top: 0;
}
.wjs_news .tab-pane ul {
  list-style: none;
}
.wjs_news .tab-pane li {
  line-height: 30px;
}

/* 这里的移动端样式, 只在小屏幕和超小屏幕生效 */
@media screen and ( max-width: 992px ) {
  .wjs_news .news_tab ul {
    padding: 20px 0;
  }
  .wjs_news .news_tab li{
    float: left;
    width: 25%;
  }
  .wjs_news .news_tab li a {
    margin: 0 auto;
  }
  
}



/* 合作伙伴 */
.wjs_partner {
  text-align: center;
  padding: 30px 0;
}
.wjs_partner ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wjs_partner ul li {
  display: inline-block;
  font-size: 60px;
  margin: 0 30px;
}